<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Trang quản trị - Wreckecr Studio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/admin/img/favicon.png" rel="icon">
    <link href="~/admin/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <environment names="Development">
        <!-- Lib CSS Files -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
		<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />
		<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" asp-append-version="true" />

        <!-- Template Main CSS File -->
        <link href="~/admin/css/style.css" rel="stylesheet" asp-append-version="true">

        <!-- Custom CSS File -->
        <link href="~/admin/css/custom.css" rel="stylesheet" asp-append-version="true"/>
    </environment>

    <environment names="Development">
        <!-- lib JS Files -->
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
        <script src="~/lib/datatables/js/datatables.bootstrap4.min.js" asp-append-version="true"></script>
		<script src="~/lib/sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
		<script src="~/lib/toastr.js/toastr.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/moment-with-locales.min.js" asp-append-version="true"></script>

        <!-- Template Main JS File -->
        <script src="~/admin/js/main.js" asp-append-version="true"></script>
        <script src="~/admin/js/admin-site.js" asp-append-version="true"></script>
    </environment>
</head>

<body>

    <!-- ======= Header ======= -->
    @await Component.InvokeAsync(typeof(Clothing.CMS.Web.Areas.Admin.ViewComponents.HeaderViewComponent))<!-- End Header -->

    <!-- ======= Sidebar ======= -->
    @await Component.InvokeAsync(typeof(Clothing.CMS.Web.Areas.Admin.ViewComponents.SidebarViewComponent))<!-- End Sidebar-->

    <!-- ======= Main ======= -->
    <main id="main" class="main">

        @RenderBody()

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    @await Component.InvokeAsync(typeof(Clothing.CMS.Web.Areas.Admin.ViewComponents.FooterViewComponent))<!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @await RenderSectionAsync("scripts", required: false)

</body>

</html>