/* HTML */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Body */
.card-body {
    padding: 20px;
}

/* Sidebar */
.sidebar-nav .nav-link i {
    width: 24px;
    margin-right: 8px;
    text-align: center;
}

.sidebar-nav .nav-content a {
    text-align: center;
}

.sidebar-nav .nav-content a i {
    width: 24px;
    font-size: 14px;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 300px);
}

@media (max-width: 1199px) {
    #footer {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #footer {
        width: 100%;
    }
}

/* Dashboard */
.dashboard .truck-card .card-icon {
    color: #6c757d;
    background: #e2e2e2;
}

/* Search */
.card-search .search-bar {
    padding: 20px 0 15px 0;
}

.card-search .search-form {
    width: 100%;
}

.card-search .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.card-search .search-form input:focus,
.card-search .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

.card-search .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}

.card-search .search-form button i {
    color: #012970;
}

/* Datatable */
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 1px;
}

table.dataTable {
    margin: 15px 0 !important;
    border-collapse: collapse !important; 
}

table {
    width: 100% !important;
}

.w-action {
    width: 200px;
    text-align: center;
}

/*table td {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
}*/

/* toastr.js */
#toast-container > div {
    opacity: 1;
}

.hidden {
    display: none;
}

#productTable tbody img {
    border-radius: 5px;
    max-width: 70px;
}