<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="~/cozastore-master/images/icons/favicon.png" />

	<!-- Lib CSS Files -->
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/vendor/animate/animate.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/magnific-popup.js/magnific-popup.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/animsition/css/animsition.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/sweetalert2.min.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" asp-append-version="true" />

	<!-- Template Main CSS File -->
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/css/util.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="~/cozastore-master/css/main.css" asp-append-version="true">

	<!-- Custom CSS File -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/css/custom.css" asp-append-version="true" />
</head>
<body class="animsition">
	
	<!-- Header -->
	@await Component.InvokeAsync(typeof(Clothing.CMS.Web.ViewComponents.HeaderViewComponent))

	<!-- Cart -->
	@await Component.InvokeAsync("CartSidebar")

	<!-- Main -->
	<main class="main-content">
		@RenderBody()
	</main>

	<!-- Footer -->
	@await Component.InvokeAsync(typeof(Clothing.CMS.Web.ViewComponents.FooterViewComponent))

	<!-- Modal -->
	@await Component.InvokeAsync("ProductModal")

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fs-20 fa-solid fa-chevron-up"></i>
		</span>
	</div>

	<!-- Lib JS Files -->
	<script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
	<script src="~/lib/animsition/js/animsition.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap-daterangepicker/moment.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js" asp-append-version="true"></script>
	<script src="~/lib/slick-carousel/slick.min.js" asp-append-version="true"></script>
	<script src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery.isotope/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
	<script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/lib/cleave-js/cleave.min.js" asp-append-version="true"></script>

	<!-- Template Main JS File -->
	<script src="~/cozastore-master/js/slick-custom.js" asp-append-version="true"></script>
    <script src="~/admin/js/main-site.js" asp-append-version="true"></script>
	<script src="~/cozastore-master/js/main.js" asp-append-version="true"></script>

	<!-- CartSideBar -->
    <script src="~/view-resources/views/client/cartsidebar/index.js" asp-append-version="true"></script>

	<!-- Custom JS File -->
	<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

	@await RenderSectionAsync("scripts", required: false)

</body>
</html>