<footer id="footer" class="footer">
    <div class="copyright">
        2025 &copy; Copyright <strong><span>Wreckecr Store</span></strong>. Đã được đăng ký bản quyền
    </div>
    @* <div class="credits">
        Thiết kế bởi <a href="#">Wreckecr Store</a>
    </div> *@
</footer>