<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Coza Store</span></strong>. Đã được đăng ký bản quyền
    </div>
    <div class="credits">
        Thiết kế bởi <a href="#">Coza Store</a>
    </div>
</footer>