@{
	ViewData["Title"] = "Trang chủ";
}

<div class="pagetitle">
	<h1>Dashboard</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/Admin">Trang chủ</a></li>
			<li class="breadcrumb-item active">Dashboard</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section dashboard">
	<div class="row">

		<!-- Left side columns -->
		<div class="col-lg">
			<div class="row">

				<!-- Sales Card -->
				<div class="col-xxl-3 col-md-6">
					<div class="card info-card sales-card">

						<div class="card-body">
							<h5 class="card-title">Đơn hàng</h5>

							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-cart-plus"></i>
								</div>
								<div class="ps-3">
									<h6>1455</h6>
								</div>
							</div>
						</div>

					</div>
				</div><!-- End Sales Card -->
				<!-- Revenue Card -->
				<div class="col-xxl-3 col-md-6">
					<div class="card info-card revenue-card">

						<div class="card-body">
							<h5 class="card-title">Doanh thu</h5>

							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-cash"></i>
								</div>
								<div class="ps-3">
									<h6>23.600.000</h6>
								</div>
							</div>
						</div>

					</div>
				</div><!-- End Revenue Card -->
				<!-- Customers Card -->
				<div class="col-xxl-3 col-md-6">
					<div class="card info-card customers-card">

						<div class="card-body">
							<h5 class="card-title">Khách hàng</h5>

							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-person-plus"></i>
								</div>
								<div class="ps-3">
									<h6>1244</h6>
								</div>
							</div>

						</div>
					</div>

				</div><!-- End Customers Card -->
				<!-- Customers Card -->
				<div class="col-xxl-3 col-md-6">
					<div class="card info-card truck-card">

						<div class="card-body">
							<h5 class="card-title">Đang giao</span></h5>

							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-truck"></i>
								</div>
								<div class="ps-3">
									<h6>1044</h6>
								</div>
							</div>

						</div>
					</div>

				</div><!-- End Customers Card -->
			</div>
		</div><!-- End Left side columns -->

	</div>
</section>