@{
    ViewData["Title"] = "Người dùng";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#basicModal">
                        <i class="fa fa-plus-square"></i>
                        Thêm mới
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title">Bordered Table</h5>
                        </div>
                        <div class="col-md-2">
                            <div class="card-search d-flex justify-content-end">
                                <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                                        <input type="text" name="query" placeholder="Tìm kiếm" title="Enter search keyword">
                                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                    </form>
                                </div><!-- End Search Bar -->
                            </div>
                        </div>
                    </div>
                    <!-- Bordered Table -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Age</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Brandon Jacob</td>
                                <td>Designer</td>
                                <td>28</td>
                                <td>2016-05-25</td>
                                <td>
                                    <button class="btn btn-sm btn-info" data-bs-toggle="" data-bs-target="">
                                        <i class="fa-solid fa-eye"></i>
                                        Xem
                                    </button>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="" data-bs-target="">
                                        <i class="fas fa-pencil-alt"></i>
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Bridie Kessler</td>
                                <td>Developer</td>
                                <td>35</td>
                                <td>2014-12-05</td>
                                <td>
                                    <button class="btn btn-sm btn-info" data-bs-toggle="" data-bs-target="">
                                        <i class="fa-solid fa-eye"></i>
                                        Xem
                                    </button>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="" data-bs-target="">
                                        <i class="fas fa-pencil-alt"></i>
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ashleigh Langosh</td>
                                <td>Finance</td>
                                <td>45</td>
                                <td>2011-08-12</td>
                                <td>
                                    <button class="btn btn-sm btn-info" data-bs-toggle="" data-bs-target="">
                                        <i class="fa-solid fa-eye"></i>
                                        Xem
                                    </button>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="" data-bs-target="">
                                        <i class="fas fa-pencil-alt"></i>
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Angus Grady</td>
                                <td>HR</td>
                                <td>34</td>
                                <td>2012-06-11</td>
                                <td>
                                    <button class="btn btn-sm btn-info" data-bs-toggle="" data-bs-target="">
                                        <i class="fa-solid fa-eye"></i>
                                        Xem
                                    </button>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="" data-bs-target="">
                                        <i class="fas fa-pencil-alt"></i>
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Raheem Lehner</td>
                                <td>Dynamic Division Officer</td>
                                <td>47</td>
                                <td>2011-04-19</td>
                                <td>
                                    <button class="btn btn-sm btn-info" data-bs-toggle="" data-bs-target="">
                                        <i class="fa-solid fa-eye"></i>
                                        Xem
                                    </button>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="" data-bs-target="">
                                        <i class="fas fa-pencil-alt"></i>
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Bordered Table -->
                </div>
            </div>

        </div>
    </div>
</section>

@await Html.PartialAsync("~/Areas/Admin/Views/User/_CreateModal.cshtml")
