@model CheckoutViewModel

@{
    ViewData["Title"] = "Thanh toán";
}

@section scripts {
    <script src="~/view-resources/views/client/checkout/index.js" asp-append-version="true"></script>
    <script src="~/view-resources/views/client/checkout/_createmodal.js" asp-append-version="true"></script>
}

<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-102 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-102 cl4">
            Thanh toán đơn hàng
        </span>
    </div>
</div>

<form id="checkoutContainer">
    <!-- Content page -->
    <section class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="container-1 size-210 bor10 p-lr-50 p-t-50 p-b-50 p-lr-15-lg w-full-md">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        THANH TOÁN
                    </h4>
                    <div class="p-b-30">
                        <input asp-for="Code" value="A1043" hidden />
                        <input asp-for="OrderStatus" value="1" hidden />
                        <div class="m-b-20">
                            <span class="mtext-110 cl2">Thông tin giao hàng</span>
                        </div>
                        <div class="row m-b-15">
                            <div class="col-sm-6">
                                <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="text" name="name" placeholder="Họ và tên">
                            </div>
                            <div class="col-sm-6">
                                <input class="size-111 bor8 stext-102 cl2 p-lr-20" type="text" name="phone" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="bor8 m-b-15 how-pos4-parent">
                            <input class="stext-102 cl2 size-111 p-l-58 p-r-20" type="text" name="email" placeholder="Email">
                            <img class="how-pos4 pointer-none" src="~/cozastore-master/images/icons/icon-email.png" alt="ICON">
                        </div>
                        <div class="row m-b-15">
                            <div class="col-sm-4">
                                <div class="flex-w flex-r-m">
                                    <div class="size-111 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select id="province" class="js-select2">
                                                <option value="">Tỉnh/Thành</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                            <input type="hidden" id="selectedProvince" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="flex-w flex-r-m">
                                    <div class="size-111 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select id="district" class="js-select2">
                                                <option value="">Quận/Huyện</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                            <input type="hidden" id="selectedDistrict" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="flex-w flex-r-m">
                                    <div class="size-111 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select id="ward" class="js-select2">
                                                <option value="">Phường/Xã</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                            <input type="hidden" id="selectedWard" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bor8 m-b-15">
                            <input class="stext-102 cl2 size-111 p-l-20 p-r-20" type="text" asp-for="Address" placeholder="Địa chỉ">
                        </div>
                        @* <div class="bor8">
                            <textarea class="stext-102 cl2 size-120 p-lr-20 p-tb-20" id="customerNote" name="msg" placeholder="Ghi chú"></textarea>
                        </div> *@
                    </div>
                    <div class="p-b-30">
                        <div class="m-b-20">
                            <span class="mtext-110 cl2">Phương thức thanh toán</span>
                        </div>
                        <div class="bor8 how-pos4-parent payment-pos4">
                            <input class="stext-102 cl2 size-111 p-l-58 p-r-20" type="text" readonly placeholder="Thanh toán khi nhận hàng (COD)">
                            <i class="fa-solid fa-circle-dot how-pos4 pointer-none"></i>
                        </div>
                    </div>
                    <div class="p-b-30">
                        <div class="m-b-20">
                            <span class="mtext-110 cl2">Phí vận chuyển</span>
                        </div>
                        <div class="bor8 how-pos4-parent payment-pos4">
                            <input class="shipping-fee stext-102 cl2 size-111 p-l-58 p-r-20" type="text" readonly placeholder="Miễn phí" value="">
                            <i class="fa-solid fa-circle-dot how-pos4 pointer-none"></i>
                        </div>
                    </div>
                    <div class="btn-container">
                        <a href="/cart" class="back-cart flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            Về giỏ hàng
                        </a>
                        <button class="complete-payment flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            Hoàn tất đơn hàng
                        </button>
                    </div>
                </div>
                <div class="container-2 size-210 p-l-40 p-t-12 p-b-30 p-lr-15-lg w-full-md">
                    <div class="header-cart-content">
                        <ul class="header-cart-wrapitem w-full list-item-cart">
                        </ul>
                        <hr>
                        <div class="row m-lr-0 p-tb-8">
                            <div class="col-sm-8 p-l-0">
                                <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" type="text" name="name" placeholder="Mã giảm giá">
                            </div>
                            <div class="col-sm-4 p-lr-0">
                                <button class="flex-c-m stext-102 cl0 size-111 bg3 bor2 hov-btn3 p-lr-15 trans-04 pointer button-disabled">
                                    Áp dụng
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-lr-0 p-t-8">
                            <div class="d-flex p-lr-0">
                                <div class="cl2">Tạm tính:</div>
                                <div class="ms-auto cl2 total-temporary"></div>
                            </div>
                            <div class="d-flex p-lr-0">
                                <div class="cl2">Phí vận chuyển:</div>
                                <div class="ms-auto cl2">miễn phí</div>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-lr-0 p-t-8">
                            <div class="d-flex p-lr-0">
                                <div class="mtext-105 cl2">Tổng tiền:</div>
                                <div class="ms-auto mtext-105 cl2 order-total"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
